* {
    margin: 0;
    padding: 0;
}

:root {
    --xs-width: 576px;
    --sm-width: 768px;
    --md-width: 992px;
    --lg-width: 1200px;
    --xl-width: 2000px;

    --bg-colour: #FFFBEC;
    --accent-1: #4F402F;
    --font-1: #f0e2d3;
    --font-2: #2e2a27;

    --main-radius: 30px;
}

/* UTILITY */

.flex-break {
    width: 100%;
}

/* PAGE */

body {
    background-color: var(--bg-colour);
    color: var(--font-2);
    width: 100%;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 14px;
}

h1 {
    font-size: 60px;
}

h2 {
    font-size: 40px;
}

h3 {
    font-size: 30px;
}

.u-link,
.u-link:visited,
.u-link:hover,
.u-link:active {
    color: inherit;
    text-decoration: none;
}

.no-list-style {
    list-style-type: none;
}

.centered {
    text-align: center;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.page-wrapper {
    width: 100%;
    max-width: var(--xl-width);
    margin: 0 auto;
}

.center-children {
    display: flex !important;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.inner-page-wrapper {
    display: block;
    padding: 0px 20px;
    color: var(--font-2);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* NAV MENU */

.top-bar-wrapper {
    display: block;
    height: 120px;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 40px;
}

.top-menu {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.pab-logo {
    height: 60px;
    width: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

.menu-items {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 2px 10px;
}

.menu-item {
    margin: 0px 5px;
    padding: 10px;
    font-size: 28px;
}

.menu-item:hover {
    background-color: #c4bda6;
    border-radius: 5px;
}

@media (max-width: 700px) {
    .menu-items {
        display: none;
    }
}

/* PAGE CONTENT */

.content-wrapper {
    width: 100%;
    display: block;
    position: relative;
    margin-bottom: 50px;
}

.bubble-content {
    max-width: var(--lg-width);
    background-color: var(--accent-1);
    border-radius: var(--main-radius);
    color: var(--font-1);
}

.content-topper-image {
    position: absolute;
    top: -73px;
    left: 50px;
    z-index: 10;
    filter: brightness(0);
    max-width: 100%;
}

.content {
    display: flex;
    padding: 50px;
    gap: 50px;
    align-items: center;
}

@media (max-width: 700px) {
    .content {
        display: block;
    }
}

.main-content {
    width: 50%;
    font-size: 20px;
    padding: 20px;
}

.main-heading {
    margin-bottom: 20px;
}

.main-image {
    width: 50%;
    border-radius: var(--main-radius);
}

@media (max-width: 700px) {
    .main-image {
        /* display: block; */
        width: 100%;
    }
}

.hours {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 5px;
    margin-bottom: 15px;
}

.mid-heading {
    margin-bottom: 5px;
}

.mid-content {
    font-size: 18px;
}

.sm-content {
    display: block;
    width: 100%;
    max-width: var(--sm-width);
}

@media (max-width: 700px) {
    .sm-content {
        /* display: block; */
        /* margin: 20px; */
    }
}

.text-content {
    margin-bottom: 10px;
}

.book-button {
    display: inline-block;
    margin-top: 20px;
}

.button.button {
    line-height: 1;
    font-size: 20px;
    padding: 20px;
    background-color: var(--accent-1);
    color: var(--font-1);
    border-radius: 5px;
    cursor: pointer;
}

.button.inverse-button {
    background-color: var(--font-1);
    color: var(--accent-1);
}

.button.button:hover {
    filter: brightness(1.2);
}

/* FOOTER */

.main-footer {
    background-color: var(--font-2);
    color: var(--font-1);
    width: 100%;
}

.sm-wrapper {
    display: flex;
    justify-content: center;
}

.sm-icon:hover {
    filter: grayscale(0);
    cursor: pointer;
}

.sm-icon {
    height: 40px;
    margin: 20px;
    filter: brightness(1) saturate(0%);
}

.pab-logo-footer {
    height: 80px;
    width: auto;
    max-width: 100%;
    /* margin-top: 20px; */
    margin-bottom: 40px;
}

/* ADOPT */

.hero-banner {
    width: 100%;
    margin-bottom: 20px;
}

.body-text {
    font-size: 20px;
}

.bottom-gap {
    margin-bottom: 10px;
}

.adopt-form-wrapper {
    width: 100%;
}

.adopt-form {
    display: block;
    width: 100%;
    max-width: var(--sm-width);
    font-size: 24px;
    /* grid-template-columns: 200px 1fr; */
    margin-bottom: 30px;
}

input[type=date]:required:invalid { 
    color: transparent; 
}

input[type=date]:focus {
    color: inherit !important;
}

/* MEET */

.profile-wrapper {
    display: flex;
    flex-wrap: wrap;
    /* align-items: center; */
    justify-content: center;
}

.cat-profile {
    display: block;
    width: 400px;
    margin: 10px;
    /* background-color: var(--accent-1); */
    /* color: var(--font-1); */
    padding: 20px;
}

@media (max-width: 450px) {
    .cat-profile {
        width: 100%;
    }
}

.cat-profile-image {
    width: 100%;
    height: auto;
    border-radius: 5px;
}

.cat-profile-bio {
    width: 100%;
    font-size: 16px;
    padding: 20px;
}

/* SPLIDE */

#meet-cat-carousel {
    width: 100%;
    max-width: var(--md-width);
    margin-bottom: 10px;
}

.splide__slide img {
    width: calc(100% - 20px);
    height: auto;
    padding: 0px 10px;
}

/* INPUT TEXT */

.input-container {
    position: relative;
    font-size: 20px;
    width: 100%;
    height: auto;
    margin-bottom: 35px;
}

.input-container label {
    font-weight: bold;
    color: #686868b7;
    position: absolute;
    top: 8px;
    left: 10px;
    line-height: 1;
    pointer-events: none;
    transition: all 0.3s ease-in-out;
}

.input-container input, .input-container textarea {
    border: 0;
    font-size: 20px;
    /* background-color: #ecebe7; */
    border-bottom: 2px solid var(--font-2);
    background: transparent;
    width: 100%;
    padding: 10px 10px 8px 10px;
    /* border-radius: 5px; */
}

.input-container input:focus {
    border: none;
    outline: none;
    border-bottom: 1px solid var(--accent-1);
}

.input-container input:focus~label,
.input-container input:valid~label,
.input-container textarea:focus~label,
.input-container textarea:valid~label  {
    top: -18px;
    font-size: 14px;
}